name: Daily test

on:
  schedule:
    - cron: '0 0 * * *' # Every day at 00:00 UTC, 8 p.m. EDT


jobs:
  run-tests:
    runs-on: ubuntu-latest
    name: run tests
    steps:
      - name: Install OCaml
        uses: avsm/setup-ocaml@v1
        with:
          ocaml-version: 4.08.1

      - name: Add the testing Repository
        run: opam repo add bap git://github.com/BinaryAnalysisPlatform/opam-repository#testing

      - name: Pin OASIS
        run: opam pin add oasis https://github.com/BinaryAnalysisPlatform/oasis.git

      - name: Checkout bap
        uses: actions/checkout@v2
        with:
          repository: BinaryAnalysisPlatform/bap
          path: bap.master

      - name: Pin BAP
        run: opam pin add bap bap.master --no-action

      - name: Install system dependencies
        run: opam depext -u bap

      - name: Install opam dependencies
        run: |
            opam install bap --deps-only
            opam install omake

      - name: Install Bap
        run: |
          cd bap.master
          opam exec -- ./configure-omake \
                 --enable-tests \
                 --with-llvm-version=9 \
                 --with-llvm-config=llvm-config-9
          opam exec -- make
          opam exec -- make reinstall

      - name: Checkout toolkit
        uses: actions/checkout@v2
        with:
          path: bap-toolkit

      - name: Install Toolkit
        run: |
          cd bap-toolkit
          opam exec -- make
          opam exec -- make install

      - name: Run tests
        run: |
          cd bap-toolkit
          opam exec -- make test

      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: toolkit-log
          path: bap-toolkit/tests/toolkit.log
